name: Deploy Backend to AWS Lambda
on:
  push:
    paths:
      - "backend/**"
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Zip Lambda code
        run: |
          cd backend
          zip -r lambda_function.zip lambda_function.py
      - name: Deploy to Lambda
        run: |
          aws lambda update-function-code \
            --function-name MyLibraryAPI \
            --zip-file fileb://backend/lambda_function.zip